.register-main-container {
    width: 100vw;
    height: 100vh;
    margin:auto;
    padding: 100px 60px;
    position: relative;
    /* background-image: url(../../../assets/images/background.png); */
}
.sub-main_containerOne {
    width: 100%;
    height: auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 22px; 
    z-index: 1;
}
.inner-one {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
    border-top: 1.5px solid black;
    background-color: darkgrey;
}
.head-container {
    width: 100%;
    height: auto;
    padding: 0;
    text-align: left;
    line-height: 0;
    padding: 0px 20px;
}
.carousel-container {
    width: 100%;
    height: auto;
    padding: 0%;
}
.cube-icon-container {
    position: absolute;
    top: 175%;
    left: 0%;
}
.sphare-icon-container {
    position: absolute;
    top: 1%;
    left: 42%;
}
.sub-main-containerTwo {
    padding-right: 20px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 22px;
}
.inner-two {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    position: relative; 
}
.logo-container {
    background: white;
    width: 50%;
    padding: 5% 0%;
    display: flex;
    align-items: flex-start;
}
.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
}
.head-title {
    color: #2C376A;
    font-family: "SF Pro Rounded";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
}
.header-register {
    display: block;
    justify-content: center;
}
.normal-text {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 2rem;
}
.login-form {
    text-align: left;
}
.sub-text {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 2rem;
}
.registration-container {
    width: 100% !important;
    height: auto;
    display: grid;

}

.input-container-reg {
    padding: 5% 0%;
    align-items: flex-start;
    font-family: "SF Pro Rounded";
}
/* .select-role-container {

} */
.select-role-text {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 2rem;
    display: flex;
    align-items: center;
}
/* .select-role-box {

} */
.selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
}
.button-footer {
    position: absolute;
    right: 0%;
    bottom: -2%;
}
.shadow-btn {
    display: flex;
    height: 4.6rem;
    width: 16.75rem;
    margin-left: 33px;
    position: absolute;
    background-color: #F8C553;
    border-radius: 12px;
    z-index: 0;
}
@media only screen and (min-width:426px) and (max-width:768px) {
    .head-title {
        color: #2C376A;
        font-family: "SF Pro Rounded";
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .cube-icon-container {
        position: absolute;
        top: 185%;
        left: 0%;
    }
    .sphare-icon-container {
        position: absolute;
        top: 1%;
        left: 42%;
    }
    
}
@media only screen and (min-width:426px) and (max-width:768px) {
   
    
}




