.selector-office {
    display: flex;
    height: 84px;
    align-items: center;
    max-width: 1000px;
    padding: 0rem 2rem 0rem 2rem;
    min-width: 150px;
    opacity: 0.6;
    border-radius: 12px;
    margin: 1rem;
    /* background-color: rgba(228,230,234,0.2); */
    /* box-shadow: inset -4px -4px 5px 0 rgba(255,255,255,0.3), inset 1px 1px 5px 1px rgba(202,214,220,0.5), inset 0 4px 10px 0 rgba(255,255,255,0.3), inset 0 0 3px 0 rgba(202,214,220,0.6); */
    cursor: pointer;
}

/* div:focus {
    display: flex;
    height: 84px;
    align-items: center;
    max-width: 1000px;
    padding: 0rem 2rem 0rem 2rem;
    min-width: 150px;
    opacity: 0.6;
    border-radius: 12px;
    border: 2px solid #2C3F58;
    background-color: rgba(228,230,234,0.2);
    box-shadow: inset -4px -4px 5px 0 rgba(255,255,255,0.3), inset 1px 1px 5px 1px rgba(202,214,220,0.5), inset 0 4px 10px 0 rgba(255,255,255,0.3), inset 0 0 3px 0 rgba(202,214,220,0.6);
    cursor: pointer;
} */

.selector-container {
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 20px; */
    flex-direction: row;
}

.selector-icon {
    margin-top:1.5rem;
}

.subheading-text2 {
    /* position: absolute; */
    margin-top: 4rem;
    /* margin-left: 4rem; */
    height: 24px;
    width: 84px;
    opacity: 0.6;
    color: #2C3F58;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.selector-icon2 {
    margin-top:2rem;
    margin-left:1rem;
}

.selector-icon3 {
    margin-top:0rem;
    margin-left:0rem;
}
.selector-icon4 {

    margin-top: -0.4rem;
    margin-left: -0.5rem;
    margin-right: 1rem;
}
.normal-text-selector {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 14px;
    font-weight: 500;
    /* margin-left: -2rem; */
    letter-spacing: 1px;
    line-height: 24px;
    /* padding-top: 2rem; */
}

.id-text-selector {
    position: absolute;
    margin-top: -1rem;
    margin-left: 0rem;
    opacity: 0.8;
    font-family: "SF Pro Rounded";
    color: #72809D;
  font-size: 12px;
    font-weight: 500;
}