.main-container {
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
    margin:auto;
    padding: 100px 60px;
    position: relative;
    /* background-image: url(../../../assets/images/background.png); */
}
.icon-cube {
    position: absolute;
    top: 75%;
    left: 0%;
}
.icon-sphare {
    /* z-index: 1; */
    position: absolute;
    top: 1%;
    left: 41%;
}
.sub-main_containerOne {
    width: 100%;
    height: auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 22px; 
    z-index: 1;
}
.inner-one {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
    border-top: 1.5px solid black;
    background-color: darkgrey;
    margin-left: 1rem;
}
.head-container {
    width: 100%;
    height: auto;
    padding: 0;
    text-align: left;
    line-height: 0;
    padding: 0px 20px;
}
.carousel-container {
    width: 100%;
    height: auto;
    padding: 0%;
}
.sub-main-containerTwo {
    padding-right: 20px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 22px;
}
.inner-two {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    position: relative; 
}
.logo-container {
    background: white;
    width: 50%;
    padding: 5% 0%;
    display: flex;
    align-items: flex-start;
}
.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
}
.head-title {
    color: #2C376A;
    font-family: "SF Pro Rounded";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
}
.header-register {
    display: block;
    justify-content: center;
}
.normal-text {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 2rem;
}
.login-container {
    width: 100%;
    height: auto;
    display: grid;
}
.login-form {
    text-align: left;
}
.sub-text {
    color: #72809D;
    font-family: "SF Pro Rounded";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    padding-top: 2rem;

}
.input-container {
    width: 100% !important;
    padding: 5% 0%;
    align-items: flex-start;
    font-family: "SF Pro Rounded";
}
.button-footer {
    position: absolute;
    right: 0%;
    bottom: -2%;
}
.shadow-btn {
    display: flex;
    height: 4.6rem;
    width: 16.75rem;
    margin-left: 33px;
    position: absolute;
    background-color: #F8C553;
    border-radius: 12px;
    z-index: 0;
}

@media only screen and (min-width:426px) and (max-width:768px) {
    .main-container {
        /* border: 1px solid red; */
        width: 100vw;
        height: 100vh;
        margin:auto;
        padding: 100px 0px;
    }
    .sub-main_containerOne {
        width: 100%;
        /* border: 1px solid black; */
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inner-one {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
        border-bottom: 1.5px solid black;
        border-left: 1.5px solid black;
        border-top: 1.5px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head-container {
        width: 100%;
        height: auto;
        text-align: left;
        display: grid;
        grid-template-columns: auto;
        line-height: 0%;
        padding-right: 3px;
    }
    .carousel-container {
        width: 100%;
        height: auto;
        padding: 0%;
    }
    .sub-main-containerTwo {
        padding-right: 40px;
    }
    .inner-two  {
        border: 1px solid black;
        z-index: 1;
    }
    .button-footer {
        position: absolute;
        padding-top: 69rem;
        padding-left: 27rem;
    }
    
}
@media only screen and (max-width: 600px) { 

}